/* Product Title */
.product-title {
  color: white;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 40px;
  background-color: rgb(85, 85, 85);
}
/*End of Product Title */

/*Body*/

/*End of Body*/
